/.venv
/test*
/scripts/__pycache__*
/archive*
/logs*
/data/*
!/data/catalan_cloze_output.csv
!/data/items-words.sorted-by-relative-frequency.tsv
!/data/blocked_terms.txt
!/data/allowed_terms.txt
!/data/cache_tatoeba.json
!/logs/enrichment_log.csv
*.cypthon-312.pyc